{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}



{% block body %}

    <header>
        <div class="logo wow fadeIn" data-wow-delay="0.2s">
            <img class="imgcenter" src="{{ asset('images/supremasea.png') }}" alt="Supremasea logo">
            <h1 class="textcenter">La conquête du monde à portée de nageoires</h1>
    </header>
    </div>
    <section id="presentation">
        <div class="margin wow fadeIn" data-wow-delay="0.2s">

            <h2>Présentation</h2>
            <h3>Supremasea</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non magna luctus, efficitur enim eu, rhoncus erat. Cras mollis pharetra volutpat. Nunc ullamcorper ac mi nec imperdiet. Vestibulum vitae lorem eu nibh hendrerit gravida at vel orci. Sed ut tincidunt urna. Etiam vel ultrices risus. Sed quis ipsum ut sem pellentesque hendrerit non eget purus.</p>
            <div class="btn-1">
                <button>Règles du jeu</button>
                <button>Inscris-toi !</button>
            </div>
        </div>
    </section>
    <section id="base" class="wow fadeIn" data-wow-delay="0.2s">
        <h2 class="textcenter">Les bases</h2>
        <h3 class="textcenter">Supremasea</h3>
    </section>
    <section class="rules margin wow fadeIn" data-wow-delay="0.6s">
        <div class="texte">
            <h2>Intelligence</h2>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos voluptate cumque unde facere consequuntur corrupti temporibus, numquam aliquid excepturi obcaecati blanditiis voluptates ratione modi beatae nulla quas expedita. Illo, necessitatibus!</p>
        </div>
        <div class="images">
        </div>
    </section>

    <section class="rules margin wow fadeIn" data-wow-delay="0.6s">
        <div class="images">
        </div>
        <div class="texte">
            <h2>Rapidité</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos voluptate cumque unde facere consequuntur corrupti temporibus, numquam aliquid excepturi obcaecati blanditiis voluptates ratione modi beatae nulla quas expedita. Illo, necessitatibus!</p>
        </div>
    </section>
    <section class="rules margin wow fadeIn" data-wow-delay="0.6s">
        <div class="texte">
            <h2>Force</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos voluptate cumque unde facere consequuntur corrupti temporibus, numquam aliquid excepturi obcaecati blanditiis voluptates ratione modi beatae nulla quas expedita. Illo, necessitatibus!</p>
        </div>
        <div class="images">

        </div>
    </section>
{% endblock %}
